
header{
	background: #163443;
	padding-bottom: 60px;
}
.quem-somos{
    padding-top: 199px;

}
	.quem-somos .areaQuemSomosTextosValores{
		background: url(../img/fotoQueSOmos.png);
		background-size: cover!important;
		background-position: center;
		padding-bottom: 30px;
		background-attachment: fixed; 
	}
		.quem-somos .areaQuemSomos article{
			
		}
			.quem-somos .areaQuemSomos article h2{
				text-transform: uppercase;
				color: #163443;
				font-size: 35px;
				font-weight: bold;
				padding-top: 50px;
				padding-bottom: 20px;
				margin: 0;
			}
			.quem-somos .areaQuemSomos article p{
				font-size: 15px;
				color: #3c3c3b;
				line-height: 27px;
			}
	.quem-somos .sessaoMissaoVisao{

	}
		.quem-somos .sessaoMissaoVisao ul{
			list-style: none;
			padding:0;
		    margin-top: 70px;
		}
			.quem-somos .sessaoMissaoVisao ul li{
				display: block;
				width: 100%;
				position: relative;
				padding-left: 120px;
				max-width: 649px;
				margin-bottom: 45px;
			}
				.quem-somos .sessaoMissaoVisao ul li img{
					position: absolute;

					left: 0;
				}
				.quem-somos .sessaoMissaoVisao ul li h3{
					text-transform: uppercase;
					color: #b38e54;
					font-size: 19px;
					border-bottom: solid 1px #b38e54; 
					padding-bottom: 15px;
					margin: 0;
				}
				.quem-somos .sessaoMissaoVisao ul li p{
					font-size: 15px;
					color: #3c3c3b;
					margin: 0;
					padding-top: 10px;
				}
	.quem-somos .sessaoEquipe{
		background: url(../img/fundoQuemSomos.png);
		background-size: cover!important;
		background-position:center;
		background-attachment: fixed; 
		background-repeat: no-repeat;
		padding-top: 100px;
		padding-bottom: 100px;
	    margin-bottom: 100px;
	}
		.quem-somos .sessaoEquipe h4{
			margin: 0;
			text-transform: uppercase;
			color: #ad8850;
			font-size: 35px;
			font-weight: bold;
			margin-bottom: 100px;
			text-align: center;
		}
		.quem-somos .sessaoEquipe ul{
			text-align: center;
		}
			.quem-somos .sessaoEquipe ul li{
				margin: 10px 40px;
				display: inline-block;
				width: 100%;
				max-width: 230px;
			}
			.quem-somos .sessaoEquipe ul li figure{
				background: transparent;
				width: 100%;
				max-width: 215px;
				text-align: center;
				height: 215px;
				border-radius: 100%;
				border: solid 1px #fff;
				padding:8px;
			}
				.quem-somos .sessaoEquipe ul li img{
					display: block;
					width: 100%;
					height: auto;
					border-radius: 100%;
				}
				.quem-somos .sessaoEquipe ul li figcaption{
					display: none;
				}
			.quem-somos .sessaoEquipe ul li h2{
				font-size: 19px;
				margin: 0;
				text-align: center;
				color: #ad8850;
				text-transform: uppercase;
				padding-top: 20px;
			}
			@media(max-width: 1100px){
				.paddingCorrecao{
					padding: 0 20px;
				}

			}
			@media(max-width: 768px){
				.quem-somos .sessaoEquipe ul li{
					margin: 10px 0;
				}
				.quem-somos .sessaoEquipe ul{
					padding: 0;
				}
				.quem-somos .sessaoMissaoVisao ul li img {
				    position: initial;
				    display: block;
				    margin: 0 auto;
				}
				.quem-somos .sessaoMissaoVisao ul li{
					padding-left: 0;
				}
				.quem-somos {
				    padding-top: 145px;
				}
				.quem-somos .areaQuemSomos article h2 {
				    font-size: 25px;
				}
				.quem-somos .sessaoEquipe h4 {
				    font-size: 25px;
				    margin-bottom: 40px;
				}
				.quem-somos .sessaoEquipe {
				    background-size: cover!important;
				    padding-top: 50px;
				    
				}
			}