/*

Theme Name: Neubert Advogaos
Theme URI: http://neubertadvogaos.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: impulsifix
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (HC DESENVOLVIMENTOS Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINAS
**** EXTRAS
**** VARIÁVEIS
**** @MEDIA

font-family: 'PT Sans Caption', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/* @MEDIA QUERY */
  @import url("media-query.css");

/*BODY*/
  body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

/*TOPO*/
  header.topo{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    z-index: 9;
  } 
  .containerTopo{
    width: 100%;
    max-width: 1100px;
    margin:0 auto;
  }
    header.topo{
    
    } 
      header.topo .logoMarca{
        padding-top: 25px;
      }
        header.topo .logoMarca figure{
      
        }
          header.topo .logoMarca figure img{
            display: block;
            margin:auto;
          }
          header.topo .logoMarca figure figcaption{
      
          }  
      
      header.topo nav{

      }
        header.topo nav ul{
          list-style: none;
          padding: 0;
          margin:0;
        }
          header.topo nav ul li{
            display: inline-block;
          } 
            header.topo nav ul li a{
              display: block;
              font-size: 16px;
              color:#fff;
              text-transform: uppercase;
              text-decoration: none;
              padding: 0 15px;
              font-weight: 200;
              position: relative;
              transition:All .1s ease;
              -webkit-transition:All .1s ease;
              -moz-transition:All .1s ease;
              -o-transition:All .1s ease;
            }
              header.topo nav ul li a:hover{
                color:#d6be91;
                text-shadow: -.25px -.25px 0 #d6be91, 
                .25px .25px #d6be91;
              }
            header.topo nav ul li a:after{
              content: "";
              display: block;
              width: 0;
              height: 5px;
              background: #d6be91;
              /* margin: 5px auto 0; */
              transition: All .1s ease;
              -webkit-transition: All .1s ease;
              -moz-transition: All .1s ease;
              -o-transition: All .1s ease;
              position: absolute;
              bottom: -8px;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
            }
              header.topo nav ul li a:hover:after{
                width: 68px;
                transition:All .1s ease;
              }
      header.topo .menuMobile{
        background-color: #fff;
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        top: -150%;
        left: 0;
        -webkit-transition: ease-in .2s;
        -moz-transition: ease-in .2s;
        -ms-transition: ease-in .2s;
        -o-transition: ease-in .2s;
        transition: ease-in .2s;
        z-index: 9;
      }
      header.topo .menuMobile.abrirMenuMobile{
        top: 0;
      }
        header.topo .menuMobile .redesSociais_contato{

        }
          header.topo .menuMobile .redesSociais_contato a{

          }
            header.topo .menuMobile .redesSociais_contato a span{

            }
            header.topo .menuMobile .redesSociais_contato a b{

            }
        header.topo .menuMobile nav{
          display: block;
        }
          header.topo .menuMobile nav ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 95%;
            margin: 0 auto;
          }
            header.topo .menuMobile nav ul li{
              display: block;
              text-align: left;
              margin: 10px 0;
            }
              header.topo .menuMobile nav ul li a{
                padding: 0 6px;
                color: #1d5569;
                font-size: 18px;
                font-weight: 400;
              }
              header.topo .menuMobile nav ul li a:hover{
                color: #d6be91;
              }
              header.topo .menuMobile nav ul li a::after {
                left: 0;
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                 transform: translateX(0); 
              }
              header.topo .menuMobile nav ul li a:hover::after{
                width: 100%;
              }
      header.topo .btnAbrirMenuMobile{
        display: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45px;
        right: 55px;
        border: 1px solid #b18b52;
        border-radius: 100%;
        padding: 8px 8px;
        cursor: pointer;
        z-index: 9;
      }
        header.topo .btnAbrirMenuMobile span{
          background-color: #b18b52;
          display: block;
          width: 100%;
          height: 2px;
          margin: 4px 0;
          border-radius: 15px;
        }
      header.topo .btnFecharMenuMobile{
        font-size: 30px;
        color: #b18b52;
        border: 2px solid #b18b52;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: block;
        text-align: center;
        line-height: 27px;
        float: right;
        margin-top: 30px;
        margin-right: 25px;
      }

/*RODAPÉ*/
  footer.rodape{
    padding-top: 55px;
    position: relative;
    overflow: hidden;
  }
  footer.rodape::before{
    content: '';
    position: absolute;
    bottom: -105px;
    right: -43px;
    width: 635px;
    height: 385px;
    display: block;
    background-image: url(../img/molduraFooter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
    footer.rodape .row{
      max-width: 850px;
      margin:0 auto;
    }
    footer.rodape .redesSociais_contato{
      text-align: center;
    }
    footer.rodape figure{
      display: block;
      text-align: center;
    } 
      footer.rodape figure img{
      
      }
    footer.rodape .areaContato{
    
    }
      footer.rodape .areaContato a{
    
      }

/*COPYRIGHT*/
  .copyright{
    background-color: #163443;
    text-align: center;
    margin-top: 55px;
  }
    .copyright p{
      color: #d6be91;
      font-size: 12px;
      padding: 30px 10px;
      margin:0;
    }

/*ESTILOS GERAIS PARA AS PÁGINAS*/
  .redesSociais_contato{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 748px;
  }
    .redesSociais_contato a{
      font-size: 21px;
      color: #b18b52;
      font-weight: 400;
      text-decoration: none;
    }
      .redesSociais_contato span{
        margin-right:30px;
        display: inline-block; 
      }
      .redesSociais_contato b{
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        border: 2px solid;
        border-radius: 100%;
        line-height: 40px;
      }
      .redesSociais_contato i{
        font-weight: 100;
      } 
  .containerLarge{
    max-width: 1000px;
    margin: 0 auto;
  }
/*PG INICIAL*/
  .pg-inicial{

  }
    .pg .menuContato{
      position: fixed;
      display: block;
      z-index: 2;
      right: 0px;
      bottom: 120px;
      width: 100%;
      max-width: 180px;
    }
      .pg .menuContato nav{

      }
        .pg .menuContato nav ul{
          padding: 0;
          margin: 0;
          width: 100%;
        }
          .pg .menuContato nav ul li{
            background-color: #1d5569;
            list-style: none;
            margin: 12px 0;
            border-radius: 30px 0 0 30px;
            width: 100%;
            -webkit-transform: translateX(118px);
            -moz-transform: translateX(118px);
            -ms-transform: translateX(118px);
            -o-transform: translateX(118px);
            transform: translateX(118px);
            -webkit-transition: ease-in .2s;
            -moz-transition: ease-in .2s;
            -ms-transition: ease-in .2s;
            -o-transition: ease-in .2s;
            transition: ease-in .2s;
          }
          .pg .menuContato nav ul li:hover{
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
          }
            .pg .menuContato nav ul li a{
              display: block;
              text-decoration: none;
              color: #fff;
              padding: 10px 14px;
            }
              .pg .menuContato nav ul li a i{
                display: inline-block;
                font-size: 35px;
                vertical-align: middle;
                width: 100%;
                max-width: 42px;
                text-align: center;
              }
              .pg .menuContato nav ul li a p{
                display: inline-block;
                margin: 0;
                vertical-align: middle;
                font-size: 18px;
                text-align: center;
                width: 100%;
                max-width: 95px;
              }
          .pg .menuContato nav ul li.whatsapp{
            background-color: #3aab6c;
          }
    .pg-inicial .sessaoDestaque{
    
    }
      .pg-inicial .sessaoDestaque{
    
      }
      .pg-inicial .sessaoDestaque .owl-dots {
        text-align: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
      }
      .pg-inicial .sessaoDestaque .owl-dot{
        display: inline;
      }
      .pg-inicial .sessaoDestaque .owl-dot span{
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 6px 5px;
        border: 1px solid #fff;
        border-radius: 20px;
        background: transparent;
      }
      .pg-inicial .sessaoDestaque .owl-dot.active span{
        background:#fff;
      }
      .pg-inicial .sessaoDestaque .item{
        position: relative;
      }
        .pg-inicial .sessaoDestaque .item figure{
          min-height: 100vh;
        }
          .pg-inicial .sessaoDestaque .item figure img{
            display: block;
            width: 100%;
            height: auto;
          }
      .pg-inicial .sessaoDestaque .item article{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        max-width: 975px;

      }
        .pg-inicial .sessaoDestaque .item article p{
          font-size: 36px;
          color: #fff;
          font-weight: 200;
          max-width: 570px;
        }
          .pg-inicial .sessaoDestaque .item article p strong{
            text-transform: uppercase;
            font-weight: 700;
          } 
        .pg-inicial .sessaoDestaque .item article a{
          color: #fff;
          background: #b18b52;
          padding: 15px 23px;
          font-size: 20px;
          text-transform: uppercase;
          border-radius: 30px;
          text-decoration: none;
          display: inline-block;
          margin-top:90px; 
        }
    .pg-inicial .sessaoQuemSomos{

    }
      .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva{

      }
        .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva img{
          display: block;
          width: 100%;
          height: auto;
        }
      .pg-inicial .descricaoQuemSomos{
        padding-top: 70px;
        width: 100%;
        max-width: 660px;
      }
        .pg-inicial .descricaoQuemSomos article{

        }
          .pg-inicial .descricaoQuemSomos article>h2{
            text-transform: uppercase;
            color: #163443;
            font-size: 35px;
            font-weight: bold;
          }
          .pg-inicial .descricaoQuemSomos article>h3{
            font-size: 32px;
            color: #b18b52;
            font-weight: 200; 
            margin-bottom: 20px;
          }
          .pg-inicial .descricaoQuemSomos article>p{
            font-size: 15px;
            color: #3c3c3b;
          }
            .pg-inicial .descricaoQuemSomos article> p strong{
              color: #b18b52;
              font-size: 19px;
              font-weight: 300;
            }
          .pg-inicial .descricaoQuemSomos article ul{
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 25px;
            padding-bottom: 70px;
          }
            .pg-inicial .descricaoQuemSomos article ul li{
              display: inline-block;
              text-align: center;
              width: 100%;
              max-width: 148px;
              vertical-align: top;
            }
              .pg-inicial .descricaoQuemSomos article ul li figure{

              }
                .pg-inicial .descricaoQuemSomos article ul li figure img{

                }
                .pg-inicial .descricaoQuemSomos article ul li figure h2{
                  color: #b18b52;
                  font-size: 15px;
                  margin:10px 0 0 0;
                }
        .pg-inicial .descricaoQuemSomos .realizeSeuPedido{
          position: relative;
          z-index: 1;
        }
          .pg-inicial .descricaoQuemSomos .realizeSeuPedido p{
            font-size: 32px;
            color: #163443;
            font-weight: 200;
          }
            .pg-inicial .descricaoQuemSomos .realizeSeuPedido strong{

            }
            .pg-inicial .descricaoQuemSomos .realizeSeuPedido span{
              color: #b18b52;
              font-size: 19px;
              font-weight: 400;
              display: block;
              margin-bottom: 20px;
            }
            .pg-inicial .descricaoQuemSomos .realizeSeuPedido a{
              color: #fff;
              background: #b18b52;
              padding: 10px 45px;
              font-size: 16px;
              text-transform: uppercase;
              border-radius: 30px;
              text-decoration: none;
              display: inline-block;
            }
    .pg-inicial .sessaoVantagens{
      background: #b59057;
      padding-top: 100px;
      padding-bottom: 20px;
      position: relative;
      margin-top: 80px;

    }
     .pg-inicial .sessaoVantagens:before{
        content: "";
        display: block;
        width: 100%;
        height: 268px;
        background: url(../img/vectorTop.png);
        position: absolute;
        top: -268px;
        background-position: center;
     }
     .pg-inicial .sessaoVantagens:after{
        content: "";
        display: block;
        width: 100%;
        height: 280px;
        background: url(../img/vectorBottom.png);
        position: absolute;
        bottom: -79px;
     }
      .pg-inicial .sessaoVantagens h4{
          font-size: 35px;
          text-align: center;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
      }
      .pg-inicial .sessaoVantagens ul{
        padding:0;
        list-style: none;
        margin: 0;
        text-align: center;
        position: relative;
        z-index: 1;
      }
        .pg-inicial .sessaoVantagens ul li{
          display: inline-block;
          text-align: center;
          max-width: 295px;
          vertical-align: top;
          margin: 10px 20px;
        }
          .pg-inicial .sessaoVantagens ul li figure{

          }
            .pg-inicial .sessaoVantagens ul li figure img{

            }
            .pg-inicial .sessaoVantagens ul li  h2{
                font-size: 19px;
                color: #fff;
                text-transform: uppercase;
                min-height: 45px;
            }
            .pg-inicial .sessaoVantagens ul li  p{
              font-size: 16px;
              color: #fff;
              font-weight: 200;
            }
    .pg-inicial .sessaoJuriflex{
      background: url(../img/fundoServico.png);
      background-position: center;
      background-size: cover;
      padding-top: 190px;
      min-height: 100vh;
      margin-top: -80px;
      background-attachment: fixed;
    }
      .pg-inicial .sessaoJuriflex article{
        max-width: 417px;
      }
        .pg-inicial .sessaoJuriflex article h2{
          font-size: 32px;
          color: #fff;
          font-weight: 200;
          margin-bottom: 40px;
        } 
          .pg-inicial .sessaoJuriflex article h3{
            color: #fff;
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 15px;
          }
        .pg-inicial .sessaoJuriflex article p{
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          line-height: 23px;
        }
          .pg-inicial .sessaoJuriflex article span{

          }
      .pg-inicial .sessaoJuriflex .video{
        padding-top: 80px;
      }
        .pg-inicial .sessaoJuriflex .video iframe{
          
        }
      .pg-inicial .sessaoJuriflex .areaAgenda{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
      }
        .pg-inicial .sessaoJuriflex .areaAgenda p{
          font-size: 32px;
          color: #fff;
          font-weight: 200;
          margin:0;
        }
        .pg-inicial .sessaoJuriflex .areaAgenda span{
          color: #fff;
          font-size: 19px;
          font-weight: 500;
          margin-bottom: 15px;
          display: block;
        }
        .pg-inicial .sessaoJuriflex .areaAgenda a{
          color: #fff;
          background: #b18b52;
          padding: 10px 45px;
          font-size: 16px;
          text-transform: uppercase;
          border-radius: 30px;
          text-decoration: none;
          display: inline-block;
        } 
    .pg-inicial .sessaoServicos{

    }
      .pg-inicial .sessaoServicos .areaServicos{

      }
        .pg-inicial .sessaoServicos .areaServicos .item{
          position: relative;
          padding:0 2px;
        }
          .pg-inicial .sessaoServicos .areaServicos .item:before{
            content: "";
            display: block;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom:0;
            background:linear-gradient(180deg, rgba(0, 0, 0, 0) ,rgb(181, 144, 87) );
            z-index: 1;
          }
          .pg-inicial .sessaoServicos .areaServicos .item figure{

          }
            .pg-inicial .sessaoServicos .areaServicos .item figure figcaption{
              display: none;
            }
            .pg-inicial .sessaoServicos .areaServicos .item figure img{

            }
          .pg-inicial .sessaoServicos .areaServicos .item  h2{
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            bottom: 15px;
            z-index: 1;
            font-weight: 300;
          } 
            .pg-inicial .sessaoServicos .areaServicos .item:hover h2{
              font-weight: bold;
            }
    .pg-inicial .sessaoEmpresarial{
      padding-top: 100px;
      padding-bottom: 100px;
    }
      .pg-inicial .sessaoEmpresarial h4{
        text-transform: uppercase;
        color: #ad8850;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .pg-inicial .sessaoEmpresarial strong{
        color: #ad8850;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 15px;
        display: block;
      }
      .pg-inicial .sessaoEmpresarial p{
        font-size: 15px;
        color: #3c3c3b;
        margin-bottom: 30px;
        display: block;
      }
      .pg-inicial .sessaoEmpresarial a{
        color: #fff;
        background: #b18b52;
        padding: 10px 45px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 30px;
        text-decoration: none;
        display: inline-block;
      }
    .pg .sessaoContato{

    }
      .pg .sessaoContato h4{
        text-transform: uppercase;
        color: #163443;
        font-size: 35px;
        font-weight: 800;
        text-align: center;
      }
      .pg .sessaoContato p{
        font-size: 15px;
        color: #3c3c3b;
        text-align: center;
        margin: 0;
      } 
      .pg .sessaoContato span{
        color: #ad8850;
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 15px;
        display: block;
        text-align: center;
      }
      .pg .sessaoContato .areaForm{
        max-width: 850px;
        margin: 25px auto 0;
      }
        .pg .sessaoContato .areaForm input[type="text"]{
          display: block;
          border-radius: 22px;
          border: none;
          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          outline: none;
          margin: 10px;
          padding: 0 26px;
          width: 100%;
          max-width: 405px;
          height: 40px;
        }
        .pg .sessaoContato .areaForm select{
          display: block;
          border-radius: 22px;
          border: none;
          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          outline: none;
          margin: 10px;
          padding: 0 26px;
          width: 100%;
          max-width: 405px;
          height: 40px;
        }
        .pg .sessaoContato .areaForm textarea{
          display: block;
          border-radius: 22px;
          border: none;
          -webkit-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 25px -12px rgba(0,0,0,0.75);
          outline: none;
          margin: 10px;
          padding:10px 25px;
          width: 100%;
          max-width: 405px;
          min-width: 405px;
          min-height:86px;
          max-height:86px;
        }
        .pg .sessaoContato .areaForm input[type="submit"]{
          color: #fff;
          background: #b18b52;
          padding: 10px 60px;
          font-size: 15px;
          text-transform: uppercase;
          border-radius: 30px;
          text-decoration: none;
          border: none;
          float: right;
          outline: none;
        }

/* @MEDIA QUERY */
  @media(max-width: 1300px){
    /* DESTAQUE */
    .pg-inicial .sessaoDestaque .item figure {
      min-height: 100%;
    }
  }

  @media(max-width: 1200px){
    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .video iframe {
      width: 100%;
      max-width: 100%;
    }
  }

  @media(max-width: 1130px){
    /* DESTAQUE */
    .pg-inicial .sessaoDestaque .item article {
      display: block;
      width: 100%;
      max-width: 89%;
      margin: 15px auto 0;
    }
    .pg-inicial .sessaoDestaque .item article p {
      font-size: 28px;
    }
    .pg-inicial .sessaoDestaque .item article a {
      padding: 10px 23px;
      font-size: 17px;
      margin-top: 20px;
    }

    /* SEÇÃO QUEM SOMOS */
    .pg-inicial .descricaoQuemSomos {
      padding-top: 20px;
    }
    .pg-inicial .descricaoQuemSomos article>h3 {
      font-size: 28px;
    }
    .pg-inicial .descricaoQuemSomos article>p {
      font-size: 14px;
    }
    .pg-inicial .descricaoQuemSomos article ul li {
      max-width: 120px;
    }
    .pg-inicial .descricaoQuemSomos article ul li figure h2 {
      font-size: 13px;
    }
    .pg-inicial .descricaoQuemSomos .realizeSeuPedido a {
      font-size: 15px;
    }
    .pg-inicial .descricaoQuemSomos .realizeSeuPedido span {
      font-size: 17px;
    }
    .pg-inicial .descricaoQuemSomos .realizeSeuPedido p {
      font-size: 30px;
    }

    /* SEÇÃO SERVIÇOS */
    .pg-inicial .sessaoServicos .areaServicos .item h2{
      font-size: 20px;
    }

    /* FOOTER */
    footer.rodape::before {
      width: 518px;
      height: 306px;
    }
  }

  @media(max-width: 1020px){
    /* HEADER */
    header.topo nav ul li a {
      font-size: 15px;
    }
    header.topo .redesSociais_contato {
      max-width: 680px;
    }
    header.topo .logoMarca {
      padding-top: 35px;
    }
    header.topo .logoMarca figure img {
       width: 100%; 
      max-width: 136px;
    }

    /* SEÇÃO VANTAGENS */
    .pg-inicial .sessaoVantagens ul li h2 {
      font-size: 16px;
      min-height: 35px;
    }
    .pg-inicial .sessaoVantagens ul li p {
      font-size: 15px;
    }
    .pg-inicial .sessaoVantagens ul li {
      max-width: 240px;
    }
  }

  @media(max-width: 991px){
    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .video {
      padding-top: 22px;
    }
    .pg-inicial .sessaoJuriflex article h3 {
      font-size: 17px;
    }
    .pg-inicial .sessaoJuriflex article p {
      font-size: 14px;
    }
    .pg-inicial .sessaoJuriflex article h2 {
      font-size: 28px;
      margin-bottom: 30px;
    }

    /* SEÇÃO CONTATO */
    .pg .sessaoContato .areaForm textarea{
      max-width: 100%;
      min-width: 0;
      margin: 10px auto;
    }
    .pg .sessaoContato .areaForm select{
      max-width: 100%;
      min-width: 0;
      margin: 10px auto;
    }
    .pg .sessaoContato .areaForm input[type="text"]{
      max-width: 100%;
      min-width: 0;
      margin: 10px auto;
    }
    .pg .sessaoContato .areaForm {
      padding: 0 5px;
    }
  }

  @media(max-width: 930px){
    /* HEADER */
    header.topo .logoMarca figure img {
      width: 100%;
      max-width: 130px;
    }
    header.topo .redesSociais_contato {
      max-width: 615px;
    }
    header.topo nav ul li a {
      font-size: 13px;
      padding: 0 12px;
    }
  }

  @media(max-width: 840px){
    /* HEADER */
    header.topo .redesSociais_contato b {
      width: 38px;
      height: 38px;
      line-height: 36px;
    }
    header.topo .redesSociais_contato a {
      font-size: 19px;
    }
    header.topo .redesSociais_contato {
      max-width: 548px;
    }
    header.topo nav ul li a {
      padding: 0 6px;
    }

    /* DESTAQUE */
    .pg-inicial .sessaoDestaque .item article a {
      padding: 8px 23px;
      font-size: 15px;
      margin-top: 8px;
    }
    .pg-inicial .sessaoDestaque .item article p {
      font-size: 24px;
    }
    .pg-inicial .sessaoDestaque .item article a {
      padding: 8px 23px;
      font-size: 15px;
      margin-top: 8px;
    }
    .pg-inicial .sessaoDestaque .item article {
      margin: 45px auto 0;
    }

    /* SEÇÃO QUEM SOMOS */
    .pg-inicial .descricaoQuemSomos article ul li {
      max-width: 108px;
    }
    .pg-inicial .descricaoQuemSomos article ul li figure h2 {
      font-size: 12px;
    }
    .pg-inicial .descricaoQuemSomos .realizeSeuPedido p {
      font-size: 25px;
    }
    .pg-inicial .descricaoQuemSomos .realizeSeuPedido span {
      font-size: 17px;
    }
    .pg-inicial .descricaoQuemSomos article ul {
      padding-bottom: 40px;
    }
    .pg-inicial .descricaoQuemSomos article>h3 {
      font-size: 26px;
    }

    /* SEÇÃO VANTAGENS */
    .pg-inicial .sessaoVantagens {
      padding-top: 38px;
      padding-bottom: 35px;
    }
    .pg-inicial .sessaoVantagens ul li {
      max-width: 200px;
    }

    /* FOOTER */
    footer.rodape::before {
      width: 444px;
      height: 280px;
    }
  }

  @media(max-width: 768px){
    /* HEADER */
    header.topo .btnAbrirMenuMobile{
      display: block;
    }
    header.topo nav{
      display: none;
    }
    header.topo .redesSociais_contato span {
      margin-right: 5px;
      display: inline-block;
    }
    header.topo .redesSociais_contato a {
      font-size: 16px;
    }
    header.topo .redesSociais_contato b {
      width: 28px;
      height: 28px;
      line-height: 26px;
    }
    header.topo .menuMobile .redesSociais_contato a{
      font-size: 20px;
    }
    header.topo .menuMobile .redesSociais_contato a b{
      width: 38px;
      height: 38px;
      line-height: 35px;
    }
    header.topo .redesSociais_contato {
      max-width: 95%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-top: 15px;
    }
    header.topo .logoMarca {
      padding-top: 10px;
    }
    header.topo .logoMarca figure img {
      width: 100%;
      max-width: 110px;
    }
    .pg .menuContato nav ul li {
      margin: 8px 0;
      -webkit-transform: translateX(136px);
      -moz-transform: translateX(136px);
      -ms-transform: translateX(136px);
      -o-transform: translateX(136px);
      transform: translateX(136px);
    }
    .pg .menuContato nav ul li a {
      padding: 6px 4px;
    }
    .pg .menuContato nav ul li a i {
      font-size: 22px;
    }

    /* FOOTER */
    footer.rodape .redesSociais_contato {
      width: 100%;
      max-width: 95%;
      margin: 0 auto;
    }

    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .video iframe {
      width: 100%;
      max-width: 74%;
      margin: 0 auto;
      display: block;
    }
    .pg-inicial .sessaoJuriflex article {
      max-width: 430px;
      text-align: center;
      margin: 0 auto;
    }

    /* SEÇÃO QUEM SOMOS */
    .pg-inicial .sessaoQuemSomos figure.imgIlustrtiva {
      display: none;
    }
    .pg-inicial .descricaoQuemSomos {
      margin: 0 auto;
      width: 100%;
      max-width: 95%;
      text-align: center;
    }

    /* SEÇÃO VANTAGENS */
    .pg-inicial .sessaoVantagens ul li {
      max-width: 260px;
    }
    .pg-inicial .sessaoVantagens ul {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }

    /* SEÇÃO EMPRESARIAL */
    .pg-inicial .sessaoEmpresarial {
      padding-top: 50px;
      padding-bottom: 80px;
      width: 100%;
      max-width: 95%;
      margin: 0 auto;
      text-align: center;
    }

    /* SEÇÃO CONTATO */
    .pg .sessaoContato .areaForm {
      margin: 10px auto 0;
    }

    /* FOOTER */
    footer.rodape::before {
      display: none;
    }
  }

  @media(max-width: 600px){
    header.topo .redesSociais_contato {
      display: none;
    }
    header.topo .menuMobile .redesSociais_contato {
      display: block;
    }
    .pg-inicial .sessaoDestaque .owl-dot span {
      width: 12px;
      height: 12px;
      margin: 6px 3px;
    }
    .pg-inicial .sessaoDestaque .owl-dots {
      bottom: 0px;
    }
    .pg-inicial .sessaoDestaque .owl-dots {
      bottom: 0px;
    }
    .br{
      display: none;
    }
    .pg-inicial .sessaoDestaque .item article a {
      padding: 6px 23px;
      font-size: 13px;
      margin-top: 8px;
    }
    .pg-inicial .sessaoDestaque .item article p {
      font-size: 18px;
    }
    .pg-inicial .sessaoDestaque .item article p {
      font-size: 18px;
    }
    .pg-inicial .sessaoDestaque .item article {
      margin: 28px auto 0;
    }

    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .areaAgenda span {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .pg-inicial .sessaoJuriflex .areaAgenda a {
      font-size: 16px;
    }
    .pg-inicial .sessaoJuriflex .areaAgenda {
      padding: 55px 10px 60px 10px;
    }
    .pg-inicial .sessaoJuriflex .areaAgenda p {
      font-size: 28px;
    }
  }

  @media(max-width: 540px){
    /* SEÇÃO QUEM SOMOS */
    .pg-inicial .descricaoQuemSomos article ul li {
      max-width: 92px;
    }

    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .video iframe {
      max-width: 95%;
    }
    .pg-inicial .sessaoJuriflex article {
      padding: 0 10px;
    }
  }

  @media(max-width: 490px){
    /* SEÇÃO EMPRESARIAL */
    .pg-inicial .sessaoEmpresarial h4 {
      font-size: 32px;
    }
    .pg-inicial .sessaoEmpresarial strong {
      font-size: 17px;
    }
    .pg-inicial .sessaoEmpresarial p {
      font-size: 13px;
    }
  }

  @media(max-width: 445px){
    /* HEADER */
    header.topo .btnAbrirMenuMobile {
      width: 32px;
      height: 32px;
      right: 30px;
      top: 20px;
      padding: 4px 6px;
    }
    header.topo .menuMobile .redesSociais_contato a b {
      width: 32px;
      height: 32px;
      line-height: 30px;
    }
    header.topo .logoMarca figure img {
      max-width: 75px;
    }
    header.topo .logoMarca {
      padding: 15px 0;
    }
    header.topo {
      background-color: #0f2631;
    }
    .pg-inicial .sessaoDestaque {
      margin: 84px auto 0;
    }
    .pg-inicial .sessaoDestaque .item article {
      margin: 0 auto 0;
    }
    .pg-inicial .sessaoDestaque .item article p {
      font-size: 16px;
    }
    .pg-inicial .sessaoDestaque .item article a {
      padding: 4px 23px;
      font-size: 12px;
      margin-top: 0px;
    }

    /* SEÇÃO CONTATO */
    .pg .sessaoContato .areaForm textarea {
      margin: 10px auto;
      padding: 10px 24px;
      width: 100%;
    }
    .pg .sessaoContato .areaForm select {
      margin: 10px auto;
      padding: 0 22px;
      width: 100%;
    }
    .pg .sessaoContato .areaForm input[type="text"] {
      margin: 10px auto;
      width: 100%;
    }
    .pg .sessaoContato .areaForm {
      max-width: 98%;
      margin: 10px auto 0;
      width: 100%;;
    }
    .pg .sessaoContato .areaForm input[type="submit"] {
      padding: 8px 50px;
    }
  }

  @media(max-width: 400px){
    /* HEADER */
    header.topo .btnFecharMenuMobile {
      font-size: 25px;
      width: 32px;
      height: 32px;
      line-height: 24px;
      margin-top: 16px;
      margin-right: 16px;
    }
    header.topo .menuMobile .redesSociais_contato {
      padding-top: 80px;
    }
    header.topo .menuMobile .redesSociais_contato a {
      font-size: 16px;
    }

    /* SEÇÃO QUEM SOMOS */
    .pg-inicial .descricaoQuemSomos article ul li {
      max-width: 145px;
    }
    .pg-inicial .descricaoQuemSomos article>h3 {
      font-size: 24px;
    }
    .pg-inicial .descricaoQuemSomos article>h2 {
      font-size: 30px;
    }

    /* SEÇÃO JURIFLEX */
    .pg-inicial .sessaoJuriflex .video iframe {
      height: 228px;
    }

    /* SEÇÃO EMPRESARIAL */
    .pg-inicial .sessaoEmpresarial a {
      font-size: 12px;
    }

    /* SEÇÃO CONTATO */
    .pg .sessaoContato span {
      font-size: 17px;
      padding: 0 10px;
    }
    .pg .sessaoContato p {
      font-size: 14px;
      padding: 0 10px;
    }
    .pg .sessaoContato h4 {
      font-size: 30px;
      padding: 0 10px;
    }

    /* FOOTER */
    .copyright {
      margin-top: 30px;
    }
    footer.rodape figure img {
      width: 100%;
      max-width: 165px;
    }
    header.topo {
      padding-bottom: 15px;
    }
  }

  @media(max-width: 320px){

  }